/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/carousel.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.card {
    border: 1px solid #C9C9C9;
    border-radius: 0.5rem;
}
div {
    border: 1px solid #C9C9C9;
    border-radius: 0.5rem;
}
